
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="~/Home">
                    <i class="ti-shield menu-icon"></i>
                    <span class="menu-title">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="ti-shield menu-icon"></i>
                    <span class="menu-title">Event</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="ti-shield menu-icon"></i>
                    <span class="menu-title">Sermons</span>
                </a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="ti-palette menu-icon"></i>
                    <span class="menu-title">Pages</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Prayers</a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Staff</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="~/Media">
            <i class="ti-video-clapper"></i>
            <span class="menu-title">videos</span>
        </a>
                @*@Html.ActionLink("Videos", "Index", "Media", new { area = "" }, new { @class = "nav-link" })*@
            </li>
        </ul>
    </nav>